//FOOTER
// .footer{
//   height: 100%;
//   flex: 1;
//   min-height: 250px;
//   display: flex;
//   flex-direction: column;
// }

// .footer_information {
//   flex: 1;
//   border-bottom: 4px solid $third-color;
//   margin: 10px 100px;
// }

// .footer_information__element {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   height: 100%;
//   font-size: 20px;
//   font-weight: 500;

//   span{
//     color: $principal-color;
//     margin-bottom: 15px;
//   }

//   button{
//     font-size: 20px;
//     font-weight: 500;
//   }
// }

// .footer__pagination{
//   flex: 1;
//   display: flex;
//   justify-content: space-between;
//   margin: 10px 100px;
// }

// .pagination>li>a, .pagination>li{
//   background-color: $secondary-color;
//   border: 0;
// }

// .pagination>li>a:hover{
//   background-color: $secondary-color;
// }

// .footer__pagination_logo{
//   flex: 1;
// }

// .footer__pagination_pages{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex: 3;
// }

// .footer__pagination_social {
//   flex: 1;
//   display: flex;
//   justify-content: end;
//   align-items: center;

//   i{
//     margin-left: 15px;
//     color: $principal-color;
//   }

//   i:hover{
//     color: $third-color;
//   }
// }

@media (max-width: 960px){
  .footer_information, 
  .footer__pagination {
    margin: 10px 3px;
  }
}

@media (max-width: 700px){
  .footer__pagination_logo,
  .footer__pagination_social,
  .footer_information {
    display: none;
  }

  footer {
    border-top: 4px solid $third-color;
  }
}

// .footer_uoc {
//   display: flex;
//   justify-content: space-between;
//   padding: 15px;
//   background-color: $uoc-corporate;
//   font-size: large;
//   color: white;
// }

// .footer_uoc__logo--logo{
//   height: 90px;
//   width: auto;
// }

// .footer_uoc__text {
//   text-align: left;
// }