//HEADER
.header {
  flex: 1;
  max-height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: $principal-color;
  background-color: $secondary-color-opacity;
  position: fixed;
}

.header__logo--title {
  max-height: 80px;
  width: auto;
  font-weight: bold;
}

.header__logo--title:hover {
  scale: 1.1;
}

.header__logo--pages {
  color: $principal-color;
  font-weight: 700;
}

.header__navbar--pages{
  margin-left: 15px;
}

a.actual{
  text-decoration: 2px underline $third-color;
  text-underline-offset: 8px;
  background-color: $secondary-color;
}


@media (max-width: 700px){
  .header__navbar--pages{
    margin-left: 5px;
  }

  .header{
    padding: 0;
  }
}