//MEMBERS
.member_title{
    margin-top: 100px;
    text-align: center;
    color: $third-color;
}

.members {
    flex: 5;
    margin: 50px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px 20px;
}

.members__member{
    color: $principal-color;
    text-align: center;
    max-width: 400px;
    max-height: 400px;
}

.members__member p{
    padding: 5px 20px;
}
.members__member img{
    width: auto;
    height: 250px;
}

// @supports (display: grid){
//     .members {
//         display: grid;
//         grid-template-columns: repeat(3, 1fr);
//         grid-template-rows: repeat(2, 1fr);
//         grid-gap: 10px;
//     }

//     .members__member img{
//         object-fit: cover;
//     }
// }