<header class="header">
  <div class="header__logo">
      <a href="./index.html"><img class="header__logo--title" src="./assets/images/the_gueese_logo.png" ></a>
  </div>
  <nav class="header__navbar navbar navbar-light">
    <a class="header__navbar--pages navbar-brand text-primary {{ if (currentPage === 'members') { 'actual' } }}" href="./members.html">MEMBERS</a>
    <a class="header__navbar--pages navbar-brand text-primary {{ if (currentPage === 'noticias') { 'actual' } }}" href="./noticias.html">HISTORIA</a>
    <a class="header__navbar--pages navbar-brand text-primary {{ if (currentPage === 'contact') { 'actual' } }}" href="./contact.html">CONTACTANOS</a>
  </nav>
</header>